{% extends "base.html" %}

{% block title %} Home Page {% endblock %}



{% block content %}

{% with messages = get_flashed_messages() %}
    {%if messages %}
        {% for msg in messages%}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}


<div>
    <h2>Add stock</h2>
</div>

<div>
    <form action="{{add_book_form}}" method="post" enctype="multipart/form-data">

        <label for="book_name">Book Name: </label>
        <input id="book_name" name="book_name" value="" type="text"><br>

        <label for="book_author">Book Author: </label>
        <input id="book_author" name="book_author" value="" type="text"><br><br>

        <label for="book_date"> Date Released: </label>
        <input id="book_date" name="book_date"  type="date"><br>

        <label for="book_ISBN"> ISBN-13 number: </label>
        <input id="book_ISBN" name="book_ISBN" value="" type="text"><br>

        <label for="book_description"> Book Description: </label><br>
        <textarea id="book_description" name="book_description" type="text" cols="40" rows="10"></textarea><br>

        <label for="book_picture"> Select a file(.jpg):</label>
        <input id="book_picture" name="book_picture" type="file"><br>



        <label for="book_trade_price"> Book Trade Price: </label>
        <input id="book_trade_price" name="book_trade_price" value="1" type="range" oninput="trade_price.value=book_trade_price.value" min="0" max="100">
        <input id="trade_price" type="number" value="1" min="0" max="100" oninput="book_trade_price.value=trade_price.value" /><br>

        <label for="book_retail_price"> book retail price:</label>
        <input id="book_retail_price" name="book_retail_price" value="1" type="range" oninput="retail_price.value=book_retail_price.value" min="0" max="100">
        <input id="retail_price" type="number" value="1" min="0" max="100" oninput="book_retail_price.value=retail_price.value" /><br>

        <label for="book_quantity"> Book quantity: </label>
        <input id="book_quantity" name="book_quantity" value="1" type="range" oninput="quantity.value=book_quantity.value" min="1" max="20">
        <input id="quantity" type="number" value="1" min="0" max="20" oninput="book_quantity.value=quantity.value" /><br>



        <button value="Submit" type="submit">Add</button>
    </form>
</div>


{% endblock %}