{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block cart %}

<lable> Total Cart Items: {{total_items}}</lable><br>
<lable>Total: £{{total}}</lable><br>


{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {%if messages %}
        {% for msg in messages%}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}


<div>
    <h2>Home</h2>
</div>

<div>
    <h2>
        <p>{{user_info}}{{user}}</p>
    </h2>
</div>
<div><h3>Books</h3></div>


<div class="books">
    {% for book in books %}
        <ul>
            <img src="/static/{{ book[1] }}" alt="display this" width=190.5 height=292.25><br>
            {{ book[0] }}<br>
            Retail Price: £{{ book[2] }}
            <form action="/add_to_cart" method="post">
                <button id="item" name="item" type="submit" value={{book[3]}}> Add to cart </button>
            </form><br>
        </ul>
    {% endfor %}
</div>



{% endblock %}