{% extends "base.html" %}

{% block title %} Cart Page {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif%}
    {% endwith %}

    <main>
        <section class="content text-center">
            <h1>Books in your cart</h1> 
            <br>
            <a href="/empty"><button class="btn btn-dark"
                type="button"> Clear cart </button>
            </a>
            
            <br>

            <div class="row p-1 m-1">
            {% for book in books %}
                <div class="card p-2 m-2" style="width: 18rem;">
                    <img src="{{book['Image-URL-L']}}" class="card-img-top" alt="book_image">
                    <div class="card-body">
                      <p class="card-text">{{book['Book-Title']}}</p>
                    </div>

                  </div>
            {% endfor %}
            </div>
        </section>
        
    </main>
    
    
{% endblock %}