{% extends "base.html" %}

{% block title %} About Page {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif%}
    {% endwith %}


    <h1 class="text-center">About Page</h1> <br>
    <p class="text-center">
        This is a Book Shop website made to demonstarate how machine learning can be used,<br>
        to recomend books which are more relevent to user.<br>
        The website UI design is made to be simple and familiar to the user, <br>
        so that user spends less time on learning navigation and more on content.
    </p>

    
    
{% endblock %}